<figure class="text-center footer">
  <blockquote class="blockquote mainfooter">
    <p>
      Non-meat eaters, especially vegans, have a lower prevalence of
      hypertension and lower systolic and diastolic blood pressures than
      meat eaters, largely because of differences in body mass index.
    </p>
  </blockquote>
  <figcaption class="blockquote-footer">
    Paul Appleby<cite title="Source Title"></cite>
  </figcaption>
</figure>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</body>

</html>