<style>
  .bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }
</style>
<link href="styles\signin.css" rel="stylesheet">
</head>

<body class="text-center">

  <main class="form-signin">
    <form action="/" method="post">
      <img class="mb-4" src="images\favicon.png" alt="" width="72" height="57">
      <h1 class="h3 mb-3 fw-normal head">Please sign in</h1>
      <div class="form-floating">
        <input type="email" class="form-control" id="floatingInput" autocomplete="off" name="username"
          placeholder="name@example.com">
        <label for="floatingInput">Email address</label>
      </div>
      <div class="form-floating">
        <input type="password" class="form-control" id="floatingPassword" autocomplete="off" name="password"
          placeholder="Password">
        <label for="floatingPassword">Password</label>
      </div>
      <button class="w-100 btn btn-lg btn-primary" type="submit">Sign in / Sign up</button>
      <p class="mt-5 mb-3 text-muted ">&copy; 2021–2025</p>
    </form>
  </main>