html,
body {
  height: 100%;
}

.head1 {
  color: blanchedalmond;
}

.form-signin {
  background-color: #03506f;
  border-radius: 50px;
  width: 100%;
  max-width: 400px;
  padding: 15px;
  margin: auto;
}

.text-muted {
  color: blanchedalmond !important;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-control {
  background-color: #f0e9d2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.signup {
  margin-top: 10px;
}

.btn-primary {
  background-color: blanchedalmond;
  color: #03506f;
  border-color: blanchedalmond;
  border-width: 3px;
}

.btn-primary:hover {
  background-color: #03506f;
  border-color: blanchedalmond;
  color: blanchedalmond;
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}